.App {
  text-align: left;
  display:flex;
  height: 100%;
}

form {
  width: 40%;
}

.field {
  margin-bottom: 25px;
}

.content {
  margin-top: 60px;
  margin-left: 71rem;
  width: 100%;
}

.options{
  display: flex;
  justify-content: space-around;
}
.layout{
  color:white;
  background: linear-gradient(225deg, #33BD7D 0%, #008F8D 100%);
  width: 40%;
  height: 100vh;
  position: fixed;
  text-align: center;
}
input[type="text"]{
  display: inline-block;
  border: 1px solid #006C90;
  width: 100%;
  font-size: 1.4rem;
  padding: 1.4rem 2rem;
}

tr {
  width: 100%;
}

a{
  list-style-type: none;
  color:white;
  text-decoration: none;
}
select{
  border: 1px solid #006C90;
  font-size: 1.4rem;
  padding: 1.4rem 2rem;
  width: 100%;
}

p{
  font-size: 14px;
  font-family: "Roboto";
}

h1{
  text-align: center;
  font-size: 3rem;
}
img {
  margin-top: 59px;
}
h2 {
  font-size: 2.8rem;
}
table {
  border-collapse: collapse;
  margin-top: 63px;
  width: 100%;
  text-align: center;
}

.fa fa-arrow-left{
color: #33BD7D;
}


.option{
  background-color: #1C4D43;
  color: white;
  width: 45%;
  border-radius: 4px;
  height: 40px;
  margin-top: 10px;
}

.search{
  background-color:#33BD7D;
  color: white;
  width: 45%;
  border-radius: 4px;
  height: 40px;
  margin-top: 10px;
}

.character {
  background-color: #e4dfdf;
  border: 2rem solid #FFFFFF; 
}

.character td {
  padding: 1rem;
}

.character td img {
  margin: 0;
}

